
.AddMembers-outer-container {
    width: 100vw;
    height: 75vh;
}

.AddMembers-inner-container {
    margin-left: 10vw;
    margin-right: 10vw;
    height: 80vh;
}

.AddMembers-body {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.heading {
    text-align: center; 
}

.form-item {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    text-align: start;
}
.submit-button {
    padding-top: 30px;
    text-align: center;
}