.members-outer-container {
    width: 100vw;
    height: 380vh;
}

.members-inner-container {
    margin-left: 10vw;
    margin-right: 10vw;
    height: 80vh;
}

.members-body {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-bottom: 30px;
}
.members-body h1 {
    margin-top: 3rem

}