.home-outer-container {
    width: 100vw;
    height: 75h;
}

.home-inner-container {
    margin-left: 10vw;
    margin-right: 10vw;
    height: 80vh;
}

.text{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 58%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 400%;
    font-family: "Bookman", serif;
}
